<div id="TIM-Canvas" ng-controller="HomeCtrl" >
    <div id="TIM-Header" class="bar bar-header bar-dark">
        <h1 id="TIM-Banner" class="title">Advertisement Banners - Refresh 5sec?</h1>
    </div>

    <div class="content" id="money">
        <section>
            <h1> {{time}} {{currency}}</h1>
        </section>
    </div>

    <ion-footer-bar id="TIM-Footer" class="bar-dark bar-assertive">
        <div class="range">
            <label class="icon ion-ios7-person"></label>
            <input type="range" ng-model='people' name="people" min="1" max="15" value="2">
            <label class="icon ion-ios7-people"></label>
        </div>
        <div class="col" >
            <label align="center"> {{people}} </label>            
        </div>
        <div class="col" >
            <label align="center"> {{popo.averageRetribution}} {{currency}} / person </label>
            
        </div>
        <div class="col" >
            <label align="center"> {{scope.averageRetribution}} {{$scope.currency}}</label>
        </div>
        
        <div id="TIM-AllButtons" class="buttons" >
            <label id= "TIM-Button" ng-click="start()" ng-hide="Counting" class="button icon ion-arrow-right-b" onclick="window.plugins.insomnia.keepAwake()"></label>
            <label id= "TIM-Button" ng-click="pause()" ng-show="Counting" class="button icon ion-pause" onclick="window.plugins.insomnia.allowSleepAgain()"></label>
            <label id= "TIM-Button" ng-click="reset()" class="button icon ion-loop"></label>
            <label id= "TIM-Button" ng-click="openModal()" class="button icon ion-gear-a"></label>
        </div>
    </ion-footer-bar>
</div>