<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id="com.treeangular.timeismoney"
        version="0.1.1"
        versionCode = "1">

  <name>Time Is Money</name>
  <description>Time is money, focus on delivering value.</description>
  <author email="arcayne@gmail.com" href="">
      Ionic Framework Team
    </author>

  <content src="index.html"/>
  <access origin="*"/>

  <preference name="phonegap-version" value="3.5.0" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Orientation" value="landscape" />

    <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>

