/*Common configurations*/
h1, span, label
{
    color: #fff;
}

#TIM-Canvas{
    height: 100%;
    width: 100%;
    position: absolute;
}
#TIM-Header{
    background-color: black;
    border-color: black; /*use white to debug*/
}
#TIM-Banner{
    background-color: grey;
    border-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
}
#money{
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
}
#money h1
{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(256, 256, 256, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(256, 256, 256, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(256, 256, 256, 0.75);
    /*background-color: #639DBC;*/
    /*background-color: #0050EF;*/
    /*background-color: #78BE5F;*/
background-color: transparent;
    margin: 30px;
    border: 1px;
    border-color: #3F607F;
    border-radius: 150px;
    
}
#money > section
{
    text-align: center;
    vertical-align: middle;
}
#TIM-Footer{
    background-color: black;
    border-color: black; /*Use white for debugging*/
}
#TIM-NumberOfPeople-Slider{
    width: 40%;
}
#TIM-NumberOfPeople-Number{
    /*width: 10%;*/
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
}
#TIM-AverageRetributionInfo{
    /*width: 20%;*/
}
#TIM-AllButtons{
    /*width:30%;*/
}
#TIM-Button{
    background-color: black;
    border-color: black; /*Use white for debugging*/
}
/*End of Common configurations*/

/*Tablets*/
@media all and (min-width: 960px) {
    h1{
        font-size: 15em;
    }
    #TIM-Header{
        height: 8em;
    }
    #TIM-Footer{
        height:8em;
    }
    #TIM-AllButtons{
        height:8em;
    }
    #TIM-Button::before{
        font-size: 8em;
        padding-top:0.3em;
    }

}
/*End of Tablets*/
/*Big screen smartphones*/
@media all and (max-width: 959px) and (min-width: 600px) {
    h1{
        font-size: 8em;
    }
    #TIM-Header{
        height: 6em;
    }
    #TIM-Footer{
        height:6em;
    }
    #TIM-AllButtons{
        height:5em;
    }
    #TIM-Button::before{
        font-size: 6em;
        padding-top:0.2em;
    }
 /*play f10a - pause f210*/
}
/*End of Big screen smartphones*/
/*Small screen smartphones*/
@media all and (max-width: 599px) and (min-width: 320px) {
    h1{
        font-size: 7em;
    }
    #TIM-Header{
        height: 5em;
    }
    #TIM-Footer{
        height:5em;
    }
    #TIM-AllButtons{
        height:5em;
    }
    #TIM-Button::before{
        font-size: 5em;
        padding-top:0.2em;
    }
}
/*End of Small screen smartphones*/